model: {
  second: {
    network_class_name: "VoxelNet"
    voxel_generator {
      point_cloud_range : [-100, -50, -10, 100, 50, 10]
      voxel_size : [0.25, 0.25, 20]
      max_number_of_points_per_voxel : 60
    }
    voxel_feature_extractor: {
      module_class_name: "PillarFeatureNet"
      num_filters: [64]
      with_distance: false
      num_input_features: 4
    }
    middle_feature_extractor: {
      module_class_name: "PointPillarsScatter"
      downsample_factor: 1
      num_input_features: 64
    }
    rpn: {
      module_class_name: "RPNV2"
      layer_nums: [3, 5, 5]
      layer_strides: [2, 2, 2]
      num_filters: [64, 128, 256]
      upsample_strides: [0.25, 0.5, 1]
      num_upsample_filters: [128, 128, 128]
      use_groupnorm: false
      num_groups: 32
      num_input_features: 64
    }
    loss: {
      classification_loss: {
        weighted_sigmoid_focal: {
          alpha: 0.25
          gamma: 2.0
          anchorwise_output: true
        }
      }
      localization_loss: {
        weighted_smooth_l1: {
          sigma: 3.0
          code_weight: [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]
        }
      }
      classification_weight: 1.0
      localization_weight: 2.0
    }
    num_point_features: 4 # model's num point feature should be independent of dataset
    # Outputs
    use_sigmoid_score: true
    encode_background_as_zeros: true
    encode_rad_error_by_sin: true
    sin_error_factor: 1.0

    use_direction_classifier: true
    direction_loss_weight: 0.2
    num_direction_bins: 2
    direction_limit_offset: 0
    direction_offset: 0.78

    # Loss
    pos_class_weight: 1.0
    neg_class_weight: 1.0

    loss_norm_type: NormByNumPositives
    # Postprocess
    post_center_limit_range: [-100, -50, -10, 100, 50, 10]
    nms_class_agnostic: false # only valid in multi-class nms
    box_coder: {
      ground_box3d_coder: {
        linear_dim: false
        encode_angle_vector: false
      }
    }
    target_assigner: {
      class_settings: {
        class_name: "truck"
        anchor_generator_range: {
          sizes: [2.8539107, 10.2515627, 3.4674798] # wlh
          anchor_ranges: [-100, -50, -0.2727614, 100, 50, -0.2727614]
          rotations: [0, 1.57]
        }
        matched_threshold : 0.5
        unmatched_threshold : 0.35
        use_rotate_nms: false
        use_multi_class_nms: false
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.5
        nms_iou_threshold: 0.5
        region_similarity_calculator: {
          nearest_iou_similarity: {}
        }
      }
      class_settings: {
        class_name: "bus"
        anchor_generator_range: {
          sizes: [2.9553910, 12.4117593, 3.4634359] # wlh
          anchor_ranges: [-100, -50, -0.2935042, 100, 50, -0.2935042]
          rotations: [0, 1.57]
        }
        matched_threshold : 0.5
        unmatched_threshold : 0.35
        use_rotate_nms: false
        use_multi_class_nms: false
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.5
        nms_iou_threshold: 0.5
        region_similarity_calculator: {
          nearest_iou_similarity: {}
        }
      }
      class_settings: {
        class_name: "emergency_vehicle"
        anchor_generator_range: {
          sizes: [2.4478787, 6.5235454, 2.3930909] # wlh
          anchor_ranges: [-100, -50, -0.8871424, 100, 50, -0.8871424]
          rotations: [0, 1.57]
        }
        matched_threshold : 0.4
        unmatched_threshold : 0.3
        use_rotate_nms: false
        use_multi_class_nms: false
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.5
        nms_iou_threshold: 0.5
        region_similarity_calculator: {
          nearest_iou_similarity: {}
        }
      }
      class_settings: {
        class_name: "car"
        anchor_generator_range: {
          sizes: [1.9260965, 4.760298, 1.7221466] # wlh
          anchor_ranges: [-100, -50, -1.0822650, 100, 50, -1.0822650]
          rotations: [0, 1.57]
        }
        matched_threshold : 0.25
        unmatched_threshold : 0.2
        use_rotate_nms: false
        use_multi_class_nms: false
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.5
        nms_iou_threshold: 0.5
        region_similarity_calculator: {
          nearest_iou_similarity: {}
        }
      }
      class_settings: {
        class_name: "motorcycle"
        anchor_generator_range: {
          sizes: [0.9836995, 2.3417025, 1.5989711] # wlh
          anchor_ranges: [-100, -50, -1.2521751, 100, 50, -1.2521751]
          rotations: [0, 1.57]
        }
        matched_threshold : 0.2
        unmatched_threshold : 0.15
        use_rotate_nms: false
        use_multi_class_nms: false
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.5
        nms_iou_threshold: 0.5
        region_similarity_calculator: {
          nearest_iou_similarity: {}
        }
      }
      class_settings: {
        class_name: "bicycle"
        anchor_generator_range: {
          sizes: [0.6496632, 1.776302, 1.4597478] # wlh
          anchor_ranges: [-100, -50, -1.0312021, 100, 50, -1.0312021]
          rotations: [0, 1.57]
        }
        matched_threshold : 0.2
        unmatched_threshold : 0.15
        use_rotate_nms: false
        use_multi_class_nms: false
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.5
        nms_iou_threshold: 0.5
        region_similarity_calculator: {
          nearest_iou_similarity: {}
        }
      }
      class_settings: {
        class_name: "other_vehicle"
        anchor_generator_range: {
          sizes: [2.7858260, 8.139261, 3.2247375] # wlh
          anchor_ranges: [-100, -50, -0.6076216, 100, 50, -0.6076216]
          rotations: [0, 1.57]
        }
        matched_threshold : 0.4
        unmatched_threshold : 0.3
        use_rotate_nms: false
        use_multi_class_nms: false
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.5
        nms_iou_threshold: 0.5
        region_similarity_calculator: {
          nearest_iou_similarity: {}
        }
      }
      class_settings: {
        class_name: "pedestrian"
        anchor_generator_range: {
          sizes: [0.7753036, 0.8185853, 1.7747731] # wlh
          anchor_ranges: [-100, -50, -0.8935407, 100, 50, -0.8935407]
          rotations: [0]
        }
        matched_threshold : 0.3
        unmatched_threshold : 0.2
        use_rotate_nms: false
        use_multi_class_nms: false
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.5
        nms_iou_threshold: 0.5
        region_similarity_calculator: {
          nearest_iou_similarity: {}
        }
      }
      class_settings: {
        class_name: "animal"
        anchor_generator_range: {
          sizes: [0.3898486, 0.7633618421, 0.5346644] # wlh
          anchor_ranges: [-50, -50, -1.7030475, 50, 50, -1.7030475]
          rotations: [0, 1.57]
        }
        matched_threshold : 0.3
        unmatched_threshold : 0.2
        use_rotate_nms: false
        use_multi_class_nms: false
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.5
        nms_iou_threshold: 0.5
        region_similarity_calculator: {
          nearest_iou_similarity: {}
        }
      }
      sample_positive_fraction : -1
      sample_size : 512
      assign_per_class: true
    }
  }
}

train_input_reader: {
  dataset: {
    dataset_class_name: "LyftDataset"
    kitti_info_path: "/home/wit/lyft/second.pytorch/datasets/lyft/trainval/infos_train.pkl"
    kitti_root_path: "/home/wit/lyft/second.pytorch/datasets/lyft/trainval"
  }
  
  batch_size: 3
  preprocess: {
    max_number_of_voxels: 25000
    shuffle_points: false
    num_workers: 8
    groundtruth_localization_noise_std: [0, 0, 0]
    groundtruth_rotation_uniform_noise: [0, 0]
    # groundtruth_localization_noise_std: [0.25, 0.25, 0.25]
    # groundtruth_rotation_uniform_noise: [-0.15707963267, 0.15707963267]
    global_rotation_uniform_noise: [0, 0]
    global_scaling_uniform_noise: [0.95, 1.05]
    global_random_rotation_range_per_object: [0, 0]
    global_translate_noise_std: [0.2, 0.2, 0.2]
    anchor_area_threshold: -1
    remove_points_after_sample: true
    groundtruth_points_drop_percentage: 0.0
    groundtruth_drop_max_keep_points: 15
    remove_unknown_examples: false
    sample_importance: 1.0
    random_flip_x: true
    random_flip_y: true
    remove_environment: false
    database_sampler {
      database_info_path: "/home/wit/lyft/second.pytorch/datasets/lyft/trainval/kitti_dbinfos_train.pkl"
      sample_groups {
        name_to_max_num {
          key: "truck"
          value: 1
        }
      }
      sample_groups {
        name_to_max_num {
          key: "bus"
          value: 1
        }
      }
      sample_groups {
        name_to_max_num {
          key: "emergency_vehicle"
          value: 1
        }
      }
      sample_groups {
        name_to_max_num {
          key: "motorcycle"
          value: 1
        }
      }
      sample_groups {
        name_to_max_num {
          key: "bicycle"
          value: 1
        }
      }
      sample_groups {
        name_to_max_num {
          key: "other_vehicle"
          value: 1
        }
      }
      sample_groups {
        name_to_max_num {
          key: "pedestrian"
          value: 1
        }
      }
      sample_groups {
        name_to_max_num {
          key: "animal"
          value: 1
        }
      }
      global_random_rotation_range_per_object: [0, 0]
      rate: 1.0
    }
  }
}

train_config: {
  optimizer: {
    adam_optimizer: {
      learning_rate: {
        one_cycle: {
          lr_max: 3e-3
          moms: [0.95, 0.85]
          div_factor: 10.0
          pct_start: 0.4
        }
      }
      weight_decay: 0.01
    }
    fixed_weight_decay: true
    use_moving_average: false
  }
  steps: 58800 # (n_samples:17640 / batch_size:3) * n_epochs:10
  steps_per_eval: 2500
  save_checkpoints_secs: 1800 # half hour
  save_summary_steps : 200
  enable_mixed_precision: false
  loss_scale_factor: -1
  clear_metrics_every_epoch: true
}

eval_input_reader: {
  dataset: {
    dataset_class_name: "LyftDataset"
    kitti_info_path: "/home/wit/lyft/second.pytorch/datasets/lyft/trainval/infos_val.pkl"
    kitti_root_path: "/home/wit/lyft/second.pytorch/datasets/lyft/trainval"
  }
  batch_size: 1
  
  preprocess: {
    max_number_of_voxels: 30000
    shuffle_points: false
    num_workers: 4
    anchor_area_threshold: -1
    remove_environment: false
  }
}
